body, #wrapper{
  background-color: #02203c;
}
#wrapper{
  margin: 0 auto;
  color:white;
  font-size: 48px;
  font-family: monospace;
  display: flex;
  align-items: center;
}
#logo{
  position: relative;
  border: 5px solid white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 50px;
}
#logo::before, #logo::after{
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid white;
}
#logo::before{
  transform: translate(-50px, -15px) rotate(45deg);
}
#logo::after{
  transform: translate(-50px, -15px) rotate(-45deg);
}